@charset "utf-8";

.test1{
    color: red;
}

element.style {
}
.q6kuGb .W5Tsrd {
    padding-bottom: 12px;
}
.q6kuGb .W5Tsrd {
    padding-bottom: 12px;
}
<style>
.W5Tsrd {
    padding-bottom: 16px;
}
.W5Tsrd {
    padding-bottom: 16px;
}
user agent stylesheet
div {
    display: block;
}
.UDZeY {
    font-size: 14px;
}
.UDZeY {
    font-size: 14px;
}
.eqAnXb {
    font-size: medium;
    font-weight: normal;
    line-height: 1.6;
}
.e9EfHf {
    font-family: arial,sans-serif;
    clear: both;
    min-width: 833px;
    margin-left: 0;
    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}
body {
    margin: 0;
    background: #fff;
    color: #202124;
}
body, h1 {
    font-size: 14px;
}
html, body, h1, input, select {
    font-family: arial,sans-serif;
}
